* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body,
html {
  height: 100%;
  width: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  overflow: hidden;
  margin: 0;
  padding: 0; }

canvas {
  width: 100% !important;
  height: 100% !important; }

.tile {
  position: relative;
  height: 100%;
  width: 100%; }

#logo {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  margin-top: 60px; }

#stage {
  background: black;
  padding-top: 150px; }

#navigation {
  position: fixed;
  z-index: 100000000; }

#navigation,
#bio {
  display: none;
  height: 100%;
  width: 20%;
  z-index: 10000;
  background: rgba(255, 0, 0, 0.2); }

#navigation {
  left: 0;
  background: -moz-linear-gradient(left, #1e5799 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1e5799), color-stop(99%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1e5799 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1e5799 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1e5799 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1e5799 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */ }
  #navigation li {
    color: white; }

#bio {
  position: absolute;
  right: 0;
  color: white;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(91, 133, 181, 0) 73%, #1e5799 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(255, 255, 255, 0)), color-stop(73%, rgba(91, 133, 181, 0)), color-stop(100%, #1e5799));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(91, 133, 181, 0) 73%, #1e5799 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(91, 133, 181, 0) 73%, #1e5799 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(91, 133, 181, 0) 73%, #1e5799 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, rgba(91, 133, 181, 0) 73%, #1e5799 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e5799',GradientType=1 );
  /* IE6-9 */ }

#info {
  display: none;
  padding-left: 20%;
  position: relative;
  z-index: 10000;
  background: green; }
