   /*
	* OTS AR Playground CSS Elements
	*
	* @James_RWilliams // 29/01/15
	*
	*
	*/
/*
	Colours
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #E5E4E3; }

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit; }

a:visited {
  font-weight: normal; }

a:hover {
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

header {
  background: #2D3338;
  color: #F9F9FA;
  margin: 0;
  padding: 10px; }

header:after {
  content: "";
  display: block;
  clear: both; }

#title {
  width: 50%;
  float: left; }

#stage {
  background: white;
  position: relative;
  height: 500px;
  width: 100%; }
  #stage img {
    background: red; }

#screen_console {
  font-family: monospace;
  width: 50%;
  float: right;
  padding: 5px; }
