* { 
	
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
	    	box-sizing: border-box; 
	    
	-webkit-font-smoothing: antialiased;
	
}

body,
html {
	
	height: 100%;
	width: 100%;
}	

body {
	
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500;
	overflow: hidden;
	margin: 0;
	padding: 0;
	
}

#screen_console {
	
	position: fixed; 
	top: 10px;
	left: 10px;
	
	width: 50%;
	
	-webkit-font-smoothing: antialiased;
	
	font-family: monospace;
	font-weight: bold;
	color: #00FF00;
	
	p {margin: 0;}
	
}

canvas {
	
	width: 100% !important;
	height: 100% !important;
	
}

#logo {
	
	position: absolute;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	margin-top: 60px;
	
}

#stage {
	
	background: black;
	padding-top: 130px;
	
}

#sensor {
	
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	border-left: 5px solid #00FF00;
	margin-left: 50%;

	
	.marker {
		
		color: white;
		display: block;
		height: 25px;
		line-height: 23px;
		font-family: monospace;
		width: 25px;
		color: black;
		text-align: center;
		border: 1px solid white;
		background: #00FF00;
		border-radius: 12.5px;
		position: absolute;
		
	}
	
}